cmake-build-debug/
.idea/
target/
cpp/CMakeFiles/

.vscode/

build/

src-tauri/usuarios

src-tauri/log_ususarios.txt

log.txt

log_ususarios.txt

cpp/usuarios

cpp/usuarios.exe

cpp/.cmake/

cpp/Testing/

cpp/.ninja_deps

cpp/.ninja_log

cpp/build.ninja

cpp/cmake_install.cmake

cpp/CMakeCache.txt

src-tauri/usuarios.exe

cpp/Makefile

cpp/l

justfile
